* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.shadow {
  text-shadow: 2px 2px 5px orange;
}

.column {
    float: left;
    padding: 10px;
}

.column.left {
    width: 15%;
}

.column.right {
    width: 25%;
}

.column.middle {
    width: 60%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .column.left, .column.right, .column.middle {
        width: 100%;
    }
}
